
.numeroCarrito{
    width: 30px;
    background-color: white;
    padding: 2px 4px;
    border-radius: 70px;
    margin-top: 20px;
}

.numeroCarrito p{
    color: #6F61C0;
    font-size: 15px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.imgCarrito{
    width:80px;
    background-color: rgb(175, 211, 226);
    padding: 4px 2px 6px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
