
.contenedor{
    background-image: url(/src/img/fondoAnimalitos.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.subtitle {
    font-family: 'Courgette';
    font-style: normal;
    font-size: 50px;
    text-align: center;
    text-shadow: rgba(128, 128, 128, 0.543) 1px 1.2px ;
}

.notification{
    color: #9aded0!important;
    border-radius: 50px!important;
}

.oferta{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mensaje{
    padding-top: 100px!important;
}

.animation{
    animation-duration: 1.5s;
    animation-name: slidein;
    animation-iteration-count:initial;
}

@keyframes slidein {
    from {
        margin-left: 70%;
    }

    to {
        margin-left: 25%;
    }
}

.productosTodos{
    margin-top: 100px;
    margin-bottom: 50px;
}
