.card-header-title{
    font-size: 20px;
    color: azure !important;;
}
.card-header{
    background-color: #78C1F3!important;
    letter-spacing: 1px;
}

.card-footer-item{
    border-radius: 40px!important;
    border-style: none;
    background-color: #8BE8E5;
    width:80%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
}
.info{
    font-weight: 500!important;
    font-size: 17px;
}