
.hero {
    background-color: #9BE8D8;
}

.hero-body {
    padding-top: 0!important;
}

.title {
    font-family: 'Agbalumo';
    color: #e8e0c6dd !important;
    -webkit-text-stroke: 0.2px rgba(160, 103, 39, 0.81);
    text-shadow: rgba(128, 128, 128, 0.437) 1px 3px ;
}

.button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px!important;
    border-radius: 20px!important;
    box-shadow: 30px -16px cadetblue;
    background-color: white!important;
    padding: 25px!important;
    width: 170px;
}

nav div ul li a{
    color: #66a096!important;
}

.ActiveOption{
    font-size: 20px;
    color: rgb(88, 87, 87)!important;
}