
.button{
    color: #66a096!important;
    font-weight: 800;
    font-style: normal;
}

.number{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 25px;
    color: #66a096;
}

.counter{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px!important;
}

.agregar{
    width: 200px;
}

.signo{
    width:50px;
}